
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Archivo;
    background: linear-gradient(to bottom right, rgb(255,255,255) 0%, #3F4C65 100%);
}


@font-face {
    font-family: "Archivo";
    src: url(../fonts/archivo/Archivo-Medium.ttf) format("truetype");
    src: url(../fonts/archivo/Archivo-Medium.eot);
    src: url(../fonts/archivo/Archivo-Medium.woff) format("woff");
    src: url(../fonts/archivo/Archivo-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}