.nav__group {
    float: left;
    width: 81%;
}
.nav__group > ul {
    margin: 0;
    padding: 0;
}
.nav__block {
    display: inline-block;
}
.nav__item {
    position: relative;
    display: inline-block;
    margin: 32px 20px 30px 20px;
    font-size: 14px;
}
.nav__item:first-child {
    margin-left: 48px;
}
.nav__item > span {
    color: #808080;
    font-size: 14px;
}
.nav__link {
    font-size: 14px;
    text-decoration: none;
    color: #404040;
}
.dropdown__list-item, .nav__lang-list-item {
    list-style: none;
}
.dropdown__btn {
    height: 15px;
    width: 154px;
}
.nav__item-country:hover {
    cursor: pointer;
}
.nav__dropdown-list {
    display: none;
    position: absolute;
    width: 120px;
    top: 15px;
    left: 0;
    z-index: 99;
}
.nav__item-country:active > .nav__dropdown-list {
    display: block;
}
.nav__item-country-img {
    padding: 4px;
}
.nav__lang-list {
    position: absolute;
    display: inline-block;
    right: 16%;
    top: 30px;
}
.nav__lang-list-item {
    display: inline-block;
}
.nav__authorization {
    position: relative;
    padding-left: 25px;
    float: right;
    height: 17px;
    width: 75px;
    margin: 32px 48px 30px 30px;
}

.nav__sing-in-img {
    position: absolute;
    top: 1px;
    left: 0;
}
.nav__link_active, .nav__link:hover {
    color: #008FE5;
}
@media (max-width: 1000px) {
    .nav__lang-list {
        right: 20%;
    }
}
@media (max-width: 800px) {
     .nav__link, .nav__item {
        font-size: 12px;
    }
    .nav__item {
        margin: 25px 10px 20px 10px;
    }
    .nav__lang-list {
        top: 25px;
    }
    .nav__authorization {
        margin-top: 25px;
    }

}


