.sidebar {
    height: 100%;
    width: 19%;
    background: #3F4C65;
    float: left;
}
.logo {
    display: block;
    color: white;
    font: 36px bold;
    margin: 50px auto;
    width: 110px;
    font-family: Archivo;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    background: linear-gradient(to bottom right, rgb(150,150,150), #3F4C65);
}
.logo__wrap {
    text-decoration: none;
}
.sidebar__link-list {
    padding: 0;
}
.sidebar__link-list-item {
    list-style: none;
}
.sidebar__link-list-item > a {
    display: block;
    margin: auto;
    padding: 12px 0 12px 15px;
    width: 75%;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Archivo;
    font-size: 16px;
    line-height: 17px;
}
.sidebar__btn {
    position: relative;
    height: 10%;
    width: 70%;
    border: 1px solid #79879F;
    border-radius: 8px;
    background-color: #3F4C65;
    color: #9DF4FF;
    padding: 0;
    margin: 10px 15%;
}
.sidebar__btn:hover {
    background: rgb(55, 70, 92);
    transition: 0.5s;
}
.sidebar__btn-getChance {
    display: inline-block;
    font-family: Archivo;
    font-size: 16px;
    line-height: 17px;
    text-align: center;

}
.sidebar__link-list-item:hover {
    background: rgb(55, 70, 92);
    transition: 0.5s;
}

@media (max-width: 1000px) {
    .sidebar__link-list-item > a {
        font-size: 14px;
        line-height: 15px;
    }
    .sidebar__btn {
        height: 55px;
        font-size: 12px;

    }
    .sidebar__btn-getChance {
        font-size: 14px;
    }
}
@media (max-width: 875px) {
    .sidebar__link-list-item > a {
        font-size: 12px;
        line-height: 13px;
        padding-left: 10px;
    }

    .sidebar__btn {
        height: 45px;
    }
    .sidebar__btn-getChance {
        font-size: 12px;
    }
}
@media (max-width: 720px) {
    .sidebar__link-list-item > a {
        font-size: 10px;
        line-height: 11px;
        padding-left: 2px;
    }
    .sidebar__btn {
        margin-left: 10%;
    }
}
@media (max-width: 630px) {
    .sidebar__link-list-item > a {
        font-size: 9px;
        line-height: 10px;
        padding-left: 0;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 15px;
        width: 80px;
    }
    .sidebar__btn {
        margin-left: 5%;
    }
}