.main__wrap {
    position: relative;
    float: left;
    width: 81%;
}
.form-authorization {
    margin-left: 2.5em;
    width: 50%;
}
.form-login {
    margin-left: 2em;
    width: 50%;
}
.sign-in-head {
    font: bold 24px Archivo;
    margin: 5%;
}
.form-head {
    font: normal 24px Archivo;
    margin: 0;
    padding: 25px 25px 0 25px;
}
.form-input {
    display: block;
    margin: 30px ;
    padding-bottom: 20px;
    width: 80%;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    font-family: Archivo;
    font-size: 16px;
    font-weight: 500;
}
.main__form-wrap {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: url("img/bg/sign-in__bg.png") no-repeat;
    width: 90%;
    margin: 0 5%;
    height: 100%;
    background-size: 100%;
    border-radius: 10px;
}
.main__form-wrap:after {
    content: "";
    position: absolute;
    height: 80%;
    top: 10%;
    right: 49%;
    border-right: 2px solid #E5E5E6;
}
.main__form-forgot-pass {
     text-decoration: none;
}
.form-btn {
    height: 50px;
    width: 115px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    font-family: Archivo;
    font-size: 16px;
    margin: 2em 1em;
}
.form-submit-singIn {
    background-color: #F7F7F7;
    color: #B3B3B3;
    border-color: #F7F7F7;
}
.form-submit-singIn-activ {
    color: #FFFFFF;
    background-color: #3BAFFF;
}
.form-submit-singUp {
    border: 2px solid #3BAFFF;
    color: #3BAFFF;
    background-color: white;
}
.form-submit-singUp:hover {
    color: #FFFFFF;
    background-color: #3BAFFF;
}
.form-pass-part {
    margin-left: 50px;
    font-family: Archivo;
    font-size: 14px;
    padding: 5px;
    margin-right: -20px;
    cursor: pointer;
}
.form-checkbox {
    position: absolute;
    margin-left: 25px;
    background: #FFFFFF;
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.main__form > label {
    display: inline-block;
    position: relative;
}
.form-login__text-area {
    display: block;
    padding: 10px 25px;
    height: 40px;
    width: 208px;
    color: #808080;
    font-family: Archivo;
    font-size: 16px;
    line-height: 20px;
}
.main__form-login-submit {
    width: 180px;
    color: #FFFFFF;
    background-color: #C70F10;
}

@media (max-width: 1050px) {
    .sign-in-head {
        font-size: 20px;
    }
    .form-head {
        font-size: 20px;
    }
    .form-input {
        font-size: 14px;
    }
    .form-pass-part {
        font-size: 12px;
    }
    .form-btn {
        font-size: 14px;
        width: 110px;
    }
    .main__form-login-submit {
        width: 160px;
    }
}
@media (max-width: 950px) {
    .sign-in-head {
        font-size: 18px;
    }
    .form-head {
        font-size: 18px;
    }
    .form-input {
        font-size: 12px;
    }
    .form-pass-part {
        margin-left: 40px;
        font-size: 12px;
    }
    .form-btn {
        font-size: 12px;
        width: 100px;
        height: 40px;
    }
    .main__form-login-submit {
        width: 130px;
        height: 40px;
        font-size: 12px;
    }
    .main__form-forgot-pass {
        margin-left: 20px;
    }
    .form-login__text-area {
        font-size: 14px;
    }
}
@media (max-width: 850px) {
    .sign-in-head {
        font-size: 18px;
    }
    .form-head {
        font-size: 18px;
    }
    .form-input {
        font-size: 12px;
    }
    .form-pass-part {
        margin-left: 40px;
        font-size: 12px;
    }
    .form-btn {
        font-size: 11px;
        width: 90px;
        height: 40px;
    }
    .main__form-login-submit {
        width: 110px;
        height: 35px;
        font-size: 11px;
    }
    .main__form-forgot-pass {
        margin-left: 15px;
    }
    .form-login__text-area {
        font-size: 12px;
    }
}